dist: trusty
sudo: required
serivces:
  - docker

language: python
env:
  global:
    - TEST_DOCKER_IMAGE=centos:5
  matrix:
  - CC=musl-gcc     # Default to musl libc
matrix:
  include:
    - python: "2.7"
    - python: "3.2"
    - python: "3.3"
    - python: "3.4"
    - python: "3.5"

    # Test using glibc
    - python: "3.5"
      env: CC=

    - python: "3.5-dev" # 3.5 development branch
    - python: "nightly" # currently points to 3.6-dev
  allow_failures:
    - python: "nightly"

addons:
  apt:
    packages:
      - musl
      - musl-dev
      - musl-tools

before_script:
  - docker pull $TEST_DOCKER_IMAGE

script:
  # Build and install a wheel
  - python setup.py bdist_wheel
  - pip install dist/staticx-*-py2.py3-none-any.whl
  - staticx --version

  # Run test against system executable
  - test/date.sh

  # Run PyInstaller test
  - test/pyinstall/run_test.sh


deploy:
  # See this blog post for an excellent description
  # https://www.appneta.com/blog/pypi-deployment-with-travis-ci/

  # Test PyPI (on any push to master)
  - provider: pypi
    server: https://test.pypi.org/legacy/
    user: jreinhart
    password:
      secure: "3XzW3vsUh4UmHgoJasxnXAv9+ZBnOn5pSO9avNyUCAn1XqzjZoJ3dztzyJ8Do/GNcsbEAdTdiwfCSNBj0Z+ASeGCkxqkXD3bqSCHD1mJVe5RcpNHJ2ZfME6KuE7wl0mMSoz8NAC2xvBls/AYUFT5y1aLmzwSurCo+e7InY9np/1iBrdc0BiKJkK+bZ02r8lJB9OeAG3rsd3cQugX4h9Znbq10L18U/LY1yFAGZEZS3c38yjDkUSvujXQxssJF0XBbKncalm2YXnvbH3yNeE6L7HMDtMIIyJZgrc5cUxV5Dkxtny8u51ciOYf017yFyo19F48mGy5pTLnPeANG8Ipu+eEUlfZAJAH5VUix5wxKLSwnqqemyvQzj/YKEVmg9JzLZRZ+Meq2YQiESWEJbAxPPr3GzRmRuG9Pa3Uu5KE/h2I9H/oqCJbtdHJQKR92OXDuRIXvqABeUIsZpONBSrFUDj3PJHMnyyD5CGxLCgDww9lmnl8fN49rOSgpzd2JMxkEOXK9+J8GBZWfRoyijQrKC/lfuNFHQIOTk5ZQxiIuvpoGn5N3xvP2C35tGMmPL+fSQV/Jb7SKt2Xdi/fCts6zLEnU431glsgXPS1vzBtdLLj1tVDJPuGQBlcpaMNBf/2JB9NC9bvtuyksdbeSU2KfF2LslNFK+rasQqnO41ce4U="
    distributions: "sdist bdist_wheel"
    on:
      branch: master
      tags: false
      repo: JonathonReinhart/staticx
      condition: $TRAVIS_PYTHON_VERSION = "2.7"

  # Production PyPI (only on tags)
  - provider: pypi
    user: jreinhart
    password:
      secure: "FJMDJTi1zHOO33SXhzsF7si7VtTi0LIPaVLRlbhmgaBjPXyLKn6ULYG1kQFn49Svu3J7+5tQOpMfi4xBJbHep1dDQb3lIm2IZI9aZ6wkxI0coH0xFihhO1/VuQodnFjda6N92wWICDpC2iKDKI4fppeJbp6FprCKH9JElFIxdoLRgpxiHOJvHpzk/pQRWQbR/2MU7MhDNvRh19/Uy9DkAUnOJl4csM6h4rAukEB+JwK8zo9g/W/DytpksVaBsgG0gpM31icxwoDpTjzY1aAfN8BxJ9olD09rSpuM/rs+twQPjWHuhGO4jY4ofc4Iwc0y2xqM+5b/s+prNgxBa13naro55euTKlaqoX4nkrCJcGfU6zYuGQ/iqmO7NjtGbiUpE4UCa0B9lm5NXwifM3xBZMvhRajZ/Mpb7MsKmm4avkA0FUHADubdjwLlg6Xkg9hqG+NnVvQEApeuDUkNAV2rpAnUBOjcubIggB+VpVSK8ToUKNGyUtrP2ePJd/HQ3dUzNZgXB2RjgfGFVnXxltVOuC5gqiW4/KYJ8GnSTszTDchzJogCkNUzuarDm+JSAqjzw/6qjEk2kx5BLiPW6jWeSCES+0ZaLwA9jy9MbJDUq4eHFhgrhQCqBQ9oqPQS+Q8GPH8xXS6KN2vFAsB3WSADGwK0zeKJ/yBHtfObVtwBO9M="
    distributions: "sdist bdist_wheel"
    on:
      branch: master
      tags: true
      repo: JonathonReinhart/staticx
      condition: $TRAVIS_PYTHON_VERSION = "2.7"
