# These requirements are in addition to install_requires from setup.py
# and are only used for development and testing.
build
patchelf-wrapper
pyinstaller
types-pyinstaller
scuba
cffi        # Used for test/pyinstall-cffi/
pytest
mypy
importlib-metadata  # Needed for mypy --python-version=3.7
importlib-resources # Needed for mypy --python-version=3.8
-r docs/requirements.txt
