# These requirements are in addition to install_requires from setup.py
# and are only used for development and testing.
black~=26.0  # Must match .github/workflows/black.yml
patchelf-wrapper
pyinstaller
types-pyinstaller
scuba
cffi        # Used for test/pyinstall-cffi/
pytest
mypy
scons       # Used for test/nss-isolated/
-r docs/requirements.txt
