# These requirements are in addition to install_requires from setup.py
# and are only used for development and testing.
build
patchelf-wrapper
pyinstaller
scuba
cffi        # Used for test/pyinstall-cffi/
pytest
mypy
-r docs/requirements.txt
